name: Build and deploy Node.js backend to Azure Web App - timy-calendar

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      # Install backend dependencies
      - name: Install backend dependencies
        run: npm install
        working-directory: backend

      # Build backend
      - name: Build backend
        run: npm run build --if-present
        working-directory: backend

      # Upload only backend folder
      - name: Upload backend artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-app
          path: backend
          retention-days: 1

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download backend artifact
        uses: actions/download-artifact@v4
        with:
          name: backend-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_B34B7580EF85460B9CD7972A182D7C4C }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_06ECF267D66749A0ACAF64BEEAF8CCC9 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_FD9EA6A01BA64E2F835B951342EEFE21 }}


      - name: Deploy backend to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'timy-calendar'
          slot-name: 'Production'
          package: .
